/* pc */
@media (min-width: 1024px) {
    .nav_right_item:hover .box_notification .logged,
    .nav-bottom_cart_icon:hover .nav-bottom_cart_box .logged{ 
        display: flex;
    }
    
    .nav-bottom_cart_icon:hover i{
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }
}
/* moblie- tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --header-nav-height: 40px;
    }
    .hide_m-t {
        display: none;
    }
    .header_nav-bottom {
        height: var(--header-height);
        position: fixed;
        width: 100%;
        background: linear-gradient(-180deg,#f53d2d,#f63);
        z-index: 1;
    }
    .width_m-t {
        width: 100%;
    }
    
    .header_nav-bottom-search {
        padding: 0;
    }

    .nav-bottom_cart_box {
        position: fixed;
        right: 0px;
        top: 113px;
        width: 100%;
    }
    .nav-bottom_cart_box-logged,
    .nav-bottom_cart_box-not_logged  {
        width: 100%;
        box-shadow: none;
        height: 250px
    }
    .nav-bottom_cart_box-logged::after,
    .nav-bottom_cart_box-not_logged::after {
        display: none;
        
    }
    .header_sort_bar {
        display: flex;
    }
    
    .product  {
        margin-top: 60px;
    }
    
    .mobile-catery {
        display: block;
    }

    .cart_box-logged_checkbox:checked ~ .logged {
        display: flex;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide_t {
        display: none;
    }
    /* .header_nav-bottom-search {
        margin-left: 60px;
    } */
    .law_policy_list {

    }
}

/* mobile */
@media (max-width: 739px) {
    .text-center {
        text-align: center;
    }
    .justify-content {
        justify-content: center;

    }
    .hide_m{
        display: none;
    }

    .app_content {
        margin: 0 4px;
    }

    .nav-bottom_cart {
        width: 20%;
    }

    .nav-bottom_cart_icon i {
        font-size: 2.4rem;
    }
    .header_nav-bottom-search-mobile {
        display: block;
    }
    .header_nav-bottom-search {
        position: fixed;
    }
    .nav-bottom-search {
        position: fixed;
        height: 46px;
        top: var(--header-height);
        /* top: 50px; */
        border-bottom: 1px solid rgb(214, 214, 214);
        right: 0;
        left: 0;
        z-index: 1;
        display: none;

        --top_up: calc(var(--header-height) / 2);
        --top_down: var(--header-height);
        animation: ani-move_top  linear 0.2s;
    }
    .nav-bottom-search_input {
        padding: 0 5px 0 5px;
        font-size: 1.3rem;
    }
    
    .header_search_checkbox:checked ~  .nav-bottom-search_mobile{
        display: flex;
    }

    .customer_care_item-transport,
    .customer_care_item_img-payment {
        padding: 0;
    }

    .customer_care_item{
        display: flex;
    }

    .customer_care_item_img_wrap {
        display: flex;
        flex-direction: column;
    }

    .customer_care_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .country_region {
        padding-left: 10px;
        padding-right: 10px;
    }
    .country_region-left {
        padding-right: 10px;
    }
    .product_numpage {
        padding: 0 20px;
    }

    .product_numpage_item:nth-child(5),
    .product_numpage_item:nth-child(6) {
        display: none;
    }
    .country_region_label {
        padding-left: 5px;
    }
}

/* mobile mini*/
@media (max-width: 327px) {
    .product_item_action {
        flex-wrap: wrap;
    }
    .product_item_action_star-status {
        display: flex;
        flex-wrap: wrap;
    }
    .product_item_action-status {
        font-size: 1rem;
    }
}