
/* moblie- tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --header-nav-height: 40px;
    }
    .hide_m-t {
        display: none;
    }
    .header_nav-bottom {
        height: var(--header-height);
        position: fixed;
        width: 100%;
        background: linear-gradient(-180deg,#f53d2d,#f63);
        z-index: 1;
    }
    .width_m-t {
        width: 100%;
    }
    
    .header_nav-bottom-search {
        padding: 0;
    }

    .nav-bottom_cart_box {
        position: fixed;
        right: 52px;
        top: 113px;
        width: 664px;
    }
    .nav-bottom_cart_box-logged {
        width: 100%;
    }
    .nav-bottom_cart_box-logged::after {
        display: none;
    }
    .header_sort_bar {
        display: flex;
    }
    
    .product  {
        margin-top: 60px;
    }
    
    .mobile-catery {
        display: block;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide_t {
        display: none;
    }
    /* .header_nav-bottom-search {
        margin-left: 60px;
    } */
}

/* mobile */
@media (max-width: 739px) {
    .hide_m{

    }

    .app_content {
        margin: 0 4px;
    }

    .nav-bottom_cart {
        width: 20%;
    }

    .nav-bottom_cart_icon i {
        font-size: 2.4rem;
    }
    .header_nav-bottom-search-mobile {
        display: block;
    }
    .header_nav-bottom-search {
        position: fixed;
    }
    .nav-bottom-search {
        position: fixed;
        height: 46px;
        top: var(--header-height);
        /* top: 50px; */
        border-bottom: 1px solid rgb(214, 214, 214);
        right: 0;
        left: 0;
        z-index: 1;
        display: none;

        --top_up: calc(var(--header-height) / 2);
        --top_down: var(--header-height);
        animation: ani-move_top  linear 0.3s;
    }
    .nav-bottom-search_input {
        padding: 0 5px 0 5px;
        font-size: 1.3rem;
    }
    
    .header_search_checkbox:checked ~  .nav-bottom-search_mobile{
        display: flex;
    }
}

/* mobile */
@media (max-width: 327px) {
    .product_item_action {
        flex-wrap: wrap;
    }
    .product_item_action_star-status {
        display: flex;
        flex-wrap: wrap;
    }
    .product_item_action-status {
        font-size: 1rem;
    }
}