.body {
    margin: 0px 0 -8px 0; /* xóa broder của footer */
}

/* Begin header */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}   

.nav_left {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 80px;
}

.nav_left_label {
    font-size: 2.4rem;
    padding: 0 10px;
}

.nav_right a{
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: none;
}
/* End header */

/* Begin body */
.body {
    background-color: rgb(238,77,45);
}
.signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 1040px;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* End body */

/* Begin signup_box */
.sigup_box {
    width: 400px;
    /* height: 480px; */
    background-color: white;   
    border-radius: 4px; 
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
}

.sigup_box_label {
    font-size: 2rem;
    padding: 30px 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.sigup_box_form {
    padding: 10px 30px 0 30px;
    margin: 0 0 10px 0;
}

.sigup_box_form_input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--broder-color);
    outline: none;
    font-size: 1.4rem;
    box-shadow: inset 0 0 4 rgb(0 0 0 / 2%);
}

.sigup_box_form_input:focus {
    /* background-color: aqua; */
    box-shadow: inset 0 0 4 rgb(0 0 0 / 14%);
}

.sigup_box_form_btn {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

::placeholder {
    --color: rgb(185, 185, 185);
    color: var(--color);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color);
  }

.sigup_box_help {
    padding: 0 30px;
    display: flex;
    justify-content:space-between;
}

.sigup_box_help_item {
    text-decoration: none;
    color: rgb(0,85,170);
    font-size: 1.2rem;
}

.signup_box_split {
    padding: 0 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgb(197, 197, 197);
    margin: 20px 0;
}
.signup_box_split-left {
    margin-right: 15px;
}

.signup_box_split-mid {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.signup_box_split-right {
    margin-left: 15px;
}
.signup_box_split-left,
.signup_box_split-right {
    border-top: 1px solid ;
    /* height: 1px; */
    /* background-color: rgb(197, 197, 197); */
    flex: 1;
}

.signup_box_social {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
    color: white;
}



.signup_box_social_fb {
    background-color: rgb(24,119,242);
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    border-radius: 4px;
}

.signup_box_social_gg {
    margin: 0 10px;
    padding-right: 5px;
    flex: 1;
    background-color: rgb(66,133,244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.signup_box_social_ap {
    flex: 1;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
}

.signup_box_social_icon {
    font-size: 2rem;
    margin: 0 10px;
}

.signup_box_social_text {
    text-align: center;
    padding-right: 5px;
    flex: 1;
}

.signup_box_social_ap > .signup_box_social_icon {
    font-size: 2.2rem;
}

.signup_box_reminder {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 1.4rem;
}

.signup_box_reminder_label {
    color: rgb(197, 197, 197);
}
.signup_box_reminder_link{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 5px;
}

.signup_box_rule {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 30px;
    text-align: center;
    margin-top: 30px;
}



.signup_box_rule a {
    color: var(--primary-color);
}